<div id="bedankt" class="section white">
    <div class="row">
        <h1>Bedankt voor uw bestelling!</h1>

        <p class="flow-text">U ontvangt een bevestiging van uw bestelling via de email.</p>
    </div>
</div>
