<div id="Overzicht" class="section white scrollspy">
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="datums">
                <h3 class="header">Huurperiode</h3>
                <ul>
                    <li class="collection-item">
                        <div>Begindatum
                            <i class="material-icons left">date_range</i><input type="date" class="datepicker_start" style="cursor:pointer">
                        </div>
                        <div>Einddatum
                            <i class="material-icons left">date_range</i><input type="date" class="datepicker_end" style="cursor:pointer">
                        </div>
                    </li>
                </ul>
                <button class="btn waves-effect waves-light" type="submit" name="action" onclick="$('.gegevens').slideDown(); $('.datums').slideUp();">Bestellen
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="gegevens">
                <h3 class="header">Gegevens</h3>
                <form>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="voornaam" type="text" class="validate">
                            <label for="voornaam">Voornaam</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="achternaam" type="text" class="validate">
                            <label for="achternaam">Achternaam</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class=" material-icons  prefix">language</i>
                                <input id="orderemail" type="email" class="validate">
                                <label for="orderemail">Emailadres</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="telephone" type="tel" class="validate">
                            <label for="telephone">Telefoonnummer</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="straat" type="text" class="validate">
                                <label for="straat">Straat</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="huisnummer" type="tel" class="validate">
                                <label for="huisnummer">Huisnummer</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="toevoeging" type="text" class="validate">
                                <label for="toevoeging">Toevoeging</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="postcode" type="text" class="validate">
                                <label for="postcode">Postcode</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="plaats" type="text" class="validate">
                                <label for="plaats">Woonplaats</label>
                            </div>
                        </div>
                    </div>
                </form>
                <button class="btn waves-effect waves-light" type="submit" name="action"  onclick="$('.datums').slideDown(); $('.gegevens').slideUp();">Terug
                    <i class="material-icons left">query_builder</i>
                </button>
                <a href="#huren"><button class="btn waves-effect waves-light" type="submit" name="action" onclick="sendForm()">Bestelling plaatsen
                    <i class="material-icons right">send</i>
                </button></a>
            </div>
        </div>

        <div class="col s12 m12 l6">
            <h3 class="header">Prijsoverzicht

                <div class="switch right">
                    <label>
                        <img src="img/person_1.png" height="35" />
                        <input id="personen" type="checkbox">
                        <span class="lever"></span>
                        <img src="img/person_2.png" height="35" />
                    </label>
                </div>
            </h3>

            <ul class="collection overzicht">
                <li class="collection-item beacon">
                    <div>
                        &nbsp;
                        <i data-rental="pieper" class="left material-icons prefix shoppingcart blue-text teal-text lighten-2 no">close</i>
                        <div class="left">Lawinepieper</div>
                        <div class="right">&euro;0</div>
                    </div>
                </li>
                <li class="collection-item shovel">
                    <div>
                        &nbsp;
                        <i data-rental="shovel" class="left material-icons prefix shoppingcart blue-text teal-text lighten-2 no">close</i>
                        <div class="left">Sneeuwschep</div>
                        <div class="right">&euro;0</div>
                    </div>
                </li>
                <li class="collection-item sondeerstok">
                    <div>
                        &nbsp;
                        <i data-rental="sonde" class="left material-icons prefix shoppingcart blue-text teal-text lighten-2 no">close</i>
                        <div class="left">Sondeerstok</div>
                        <div class="right">&euro;0</div>
                    </div>
                </li>
                <li class="collection-item backpack">
                    <div>
                        &nbsp;
                        <i data-rental="bag" class="left material-icons prefix shoppingcart blue-text teal-text lighten-2 no">close</i>
                        <div class="left">Gearbag</div>
                        <div class="right">&euro;0</div>
                    </div>
                </li>
                <li class="collection-item dagen">
                    <div><i class="material-icons left">date_range</i>Aantal dagen
                        <div class="right">0</div>
                    </div>
                </li>
                <li class="collection-item personen">
                    <div><i class="material-icons left">group</i>Aantal personen
                        <div class="right">0</div>
                    </div>
                </li>
                <li class="collection-item">
                    <br />
                    <div class="flow-text subtotaal">Subtotaal
                        <div class="right">&euro;0</div>
                    </div>
                    <br />
                </li>
                <li class="collection-item discount">
                    <div>Package deal
                        <div class="right">-&euro;0.50</div>
                    </div>
                </li>
                <li class="collection-item verzendkosten">
                    <div>Verzendkosten
                        <div class="right">&euro;0</div>
                    </div>
                </li>
                <li class="collection-item borg">
                    <div>Borg
                        <div class="right">&euro;0</div>
                    </div>
                </li>
                <li class="collection-item blue lighten-5">
                    <br />
                    <div class="flow-text totaal">Totaal
                        <div class="right">&euro;0</div>
                    </div>
                    <br />
                </li>
            </ul>
        </div>
    </div>
</div>
