<%
producten = [
    pieper = {
        product_image: 'img/shop/pieps.jpg',
        product_naam:"Lawinepieper",
        product_prijs:"4,00",
        product_aanbieding:"",
        eigenschappen:[
            "Uitgebreide check bij opstarten",
            "Richting en afstand indicatie",
            "3 antenne systeem voor exact zoeken",
            "Intelligente zender: maximale ondersteuning tijdens zenden & IPROBE support"
        ],
        data_rental:"pieper"
    },
    sonde = {
        product_image: 'img/shop/sonde.jpg',
        product_naam:"Sondeerstok",
        product_prijs:"0,50",
        product_aanbieding:"",
        eigenschappen:[
            "260cm",
            "Aluminium",
            "Snel uitklapbaar",
            "Lichtgewicht"
        ],
        data_rental:"sonde"
    },
    schep = {
        product_image: 'img/shop/shovel.jpg',
        product_naam:"Lawine schep",
        product_prijs:"0,50",
        product_aanbieding:"",
        eigenschappen:[
            "Aluminium",
            "Koppelbaar",
            "Lichtgewicht"
        ],
        data_rental:"shovel"
    },
    tas = {
        product_image: 'img/shop/bag.jpg',
        product_naam:"Gearbag",
        product_prijs:"0,50",
        product_aanbieding:"Gratis bij de 3-eenheid!",
        eigenschappen:[
            "Stevige tas",
            "Drie straps",
            "Skibril vak"
        ],
        data_rental:"bag"
    }
]
%>

<h3 class="center">LAWINE SAFETY GEAR</h3>
<div id="huren" class="row shop scrollspy">
    <% for(var i = 0; i < producten.length; i++){ %>
        <%- include('product.template.ejs', producten[i]); %>
    <% } %>

</div>