<%
producten = [
    pieper = {
        product_image: 'img/shop/pieps.jpg',
        product_naam:"Lawinepieper",
        product_prijs:"4,00",
        product_aanbieding:"",
        eigenschappen:[
                    "Inclusief borstgordel om de lawinepieper op het lichaam te dragen.",
                    "Uitgebreide check bij opstarten.",
                    "Richting en afstand indicatie.",
                    "Modern 3 antenne systeem voor exact zoeken.",
                    "Intelligente zender: maximale ondersteuning tijdens zenden en zoeken.",
                    "Power supply: 3 batterijen, Alkaline (AAA)",
                    "Batterij levensduur: min. 200 uur in send mode",
                    "Bereik: 50 m",
                    "Temperatuur: -20°C tot +45°C",
                    "Afmetingen: 115 x 75 x 28 mm",
                    "Gewicht (incl. batterijen): 198g"
        ],
        data_rental:"pieper"
    },
    sonde = {
        product_image: 'img/shop/sonde.jpg',
        product_naam:"Sondeerstok",
        product_prijs:"0,50",
        product_aanbieding:"",
        eigenschappen:[
            "260 cm",
            "Aluminium",
            "Gemakkelijk koppelbaar",
            "Lichtgewicht"
        ],
        data_rental:"sonde"
    },
    schep = {
        product_image: 'img/shop/shovel.jpg',
        product_naam:"Lawine schep",
        product_prijs:"0,50",
        product_aanbieding:"",
        eigenschappen:[
            "Aluminium",
            "Bestaat uit 2 losse delen.",
            "Lichtgewicht"
        ],
        data_rental:"shovel"
    },
    tas = {
        product_image: 'img/shop/bag.jpg',
        product_naam:"Gearbag",
        product_prijs:"0,50",
        product_aanbieding:"Gratis bij de 3-eenheid!",
        eigenschappen:[
            "Geschikt voor de 3-eenheid.",
            "Drie straps voor het dragen van je equipment.",
            "Skibril vak met goede bescherming",
            "lichaamsstraps voor extra ondersteuning.",
        ],
        data_rental:"bag"
    }
]
%>

<h3 class="center">LAWINE SAFETY GEAR</h3>
<div id="huren" class="row shop scrollspy">
    <% for(var i = 0; i < producten.length; i++){ %>
        <%- include('product.template.ejs', producten[i]); %>
    <% } %>

</div>