<%
producten = [
    pieper = {
        product_image: 'img/pieps.jpg',
        product_naam:"Lawinepieper",
        product_prijs:"4,00",
        product_aanbieding:"",
        eigenschappen:[
            "Uitgebreide check bij opstarten",
            "Richting en afstand indicatie",
            "3 antenne systeem voor exact zoeken",
            "Intelligente zender: maximale ondersteuning tijdens zenden & IPROBE support"
        ],
        data_rental:"pieper"
    },
    sonde = {
        product_image: 'img/sonde.jpg',
        product_naam:"Sondeerstok",
        product_prijs:"0,50",
        product_aanbieding:"",
        eigenschappen:[
            "260CM",
            "Aluminium",
            "Snel uitklapbaar"
        ],
        data_rental:"sonde"
    },
    schep = {
        product_image: 'img/shovel.jpg',
        product_naam:"Lawine schep",
        product_prijs:"0,50",
        product_aanbieding:"",
        eigenschappen:[
            "Aluminium",
            "Koppelbaar"
        ],
        data_rental:"shovel"
    },
    tas = {
        product_image: 'img/bag.jpg',
        product_naam:"Gearbag",
        product_prijs:"0,50",
        product_aanbieding:"Gratis als package deal!",
        eigenschappen:[
            "Stevige tas",
            "Drie straps"
        ],
        data_rental:"bag"
    }
]
%>

<div id="huren" class="row shop scrollspy">

    <% for(var i = 0; i < producten.length; i++){ %>
        <%- include('product.template.ejs', producten[i]); %>
    <% } %>

</div>