<div id="waarom" class="section white scrollspy">
    <div class="row container">
        <div class="col s12" >
            <h2 class="header">FREERIDE SAFETY GEAR</h2>
            <p class="grey-text text-darken-3 lighten-3 flow-text">
                <br />
                Een flinke dump en jij bent klaar voor de sneeuw, ga die berg op!
                <br />
                Huur hier je Sneeuwsafety gear!
            </p>

            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Waarom huren bij Sneeuwsafety</div>
                    <div class="collapsible-body">
                        <p><i class="material-icons">done</i> Wij hebben de modernste en veiligste gear te huur voor iedereen die veilig off-piste wil ski&euml;n en snowboarden.</p>
                        <p><i class="material-icons">done</i> Bij ons krijg je altijd een volledige uitleg, eventueel onder het genot van een kop koffie. Ook een uitleg op papier is zeker mogelijk.</p>
                        <p><i class="material-icons">done</i> Wij leveren de lawinepieper altijd met nieuwe batterijen, zodat je je hier geen zorgen over hoeft te maken.</p>
                        <p><i class="material-icons">done</i> De bestelde producten ontvang je uiterlijk een dag voor vertrek. In de praktijk zal het iets eerder zijn om eventuele vragen van te voren te kunnen beantwoorden.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Informatie over onze producten</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s4">
                                <div class="center promo promo-example">
                                    <img src="img/shop/pieps.jpg" alt="lawinepieper">
                                    <p class="promo-caption">Lawinepieper</p>
                                    <p class="light center">Dit is de Pieps DSP Sport, een lawinepieper met een 3 antennesysteem voor de nauwkeurigste locatie bepaling. Kijk voor meer informatie
                                        onderaan deze pagina voor de handleiding en specificaties.</p>
                                </div>
                            </div>
                            <div class="col s4">
                                <div class="center promo promo-example">
                                    <img src="img/shop/shovel.jpg" alt="lawineschep">
                                    <p class="promo-caption">Lawineschep</p>
                                    <p class="light center">Deze aluminium schep is stevig genoeg om door de zware en compacte lawine sneeuw te graven. Omdat deze sneeuw zo compact is,
                                        raden we niet aan om een plastic schep te gebruiken, deze kunnen zelfs breken. De Pieps Alu Shovel bestaat uit 2 delen die gemakkelijk in elkaar zijn te zetten. </p>
                                </div>
                            </div>
                            <div class="col s4">
                                <div class="center promo promo-example">
                                    <img src="img/shop/sonde.jpg" alt="sondeerstok">
                                    <p class="promo-caption">Sondeerstok</p>
                                    <p class="light center">De sondeerstok gebruik je om -als je iemand globaal hebt gelokaliseerd met de lawinepieper -de precieze locatie vast te stellen. Je &quot;voelt&quot; waar de persoon
                                        is begraven zodat je direct aan de slag kan met de lawineschep.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <br><br>

            <a href="#huren" class="btn-large waves-effect waves-light flow-text" name="action">Check de prijzen!
                <i class="material-icons left">ac_unit</i>
                <i class="material-icons right">expand_more</i>
            </a>
        </div>

    </div>
</div>