<div id="waarom" class="section white scrollspy">
    <div class="row container">
        <h2 class="header">BACKCOUNTRY SAFETY GEAR</h2>
        <p class="grey-text text-darken-3 lighten-3 flow-text">
            <br />
            We weten allemaal wat er kan gebeuren, dan moeten we er klaar voor zijn.
            <br />
            Genieten kan alleen als je weet dat je kan blijven genieten.
        </p>
        <a href="#huren" class="btn-large waves-effect waves-light contactsend flow-text" name="action">Check de prijzen!
            <i class="material-icons left">ac_unit</i>
            <i class="material-icons right">expand_more</i>
        </a>
    </div>
</div>