<div id="waarom" class="section white scrollspy">
    <div class="row container">
        <h2 class="header">FREERIDE SAFETY GEAR</h2>
        <p class="grey-text text-darken-3 lighten-3 flow-text">
            <br />
            Een flinke dump en jij bent klaar voor de sneeuw, ga die berg op!
            <br />
            Huur hier je Sneeuwsafety gear!
        </p>
        <a href="#huren" class="btn-large waves-effect waves-light flow-text" name="action">Check de prijzen!
            <i class="material-icons left">ac_unit</i>
            <i class="material-icons right">expand_more</i>
        </a>
    </div>
</div>