body {
    background-color:white;
    background:url('../img/bg.png') repeat;
}

.parallax-container {
    height: 350px;
}

@media only screen and (min-width: 700px) and (max-width: 1100px) {
    .parallax-container {
        height: 300px;
    }
}

@media only screen and (max-width: 699px) {
    .parallax-container {
        height: 300px;
    }
}

@media (min-width: 992px) {
    main {
        margin-left:240px;
    }
}

@media (max-width: 600px) {
    h2.header {
        font-size: 2rem;
    }
}

.picker {
    z-index:1;
}

#nav-mobile{
    background:url('../img/b25.png') white;
}

.contact_sidebar{
    padding: 0 15px;
}

@media (min-height: 500px) {
    .contact_sidebar {
        position: absolute;
        bottom: 100px;
    }
}

.collection.with-header .collection-item {
    padding-left:0;
}

.collection.with-header .collection-header{
    padding-left:5px;
}

@media (max-width: 500px) {
    .collection.with-header .collection-header h5 {
        font-size: 1.3rem;
    }
}

@media (min-width:380px) and (max-width: 420px) {
    .collection.with-header .collection-item i {
        display:none;
    }
}

#waarom .collapsible-body p {
    padding:0.5rem;
    color:#333;
}