body {
    background-color:white;
    background:url('../img/bg.png') repeat;
}

.parallax-container {
    height: 400px;
}

@media (min-width: 992px) {
    main {
        margin-left:240px;
    }
}

.picker {
    z-index:1;
}

#nav-mobile{
    background:url('../img/b25.png') white;
}