.meenemen {
    margin:20px auto;
}

.product img {
    padding:10px 0 0 0;
}

@media only screen and (max-width: 1470px) and (min-width: 973px) {
    .row .product .col.l3 {
        width: 40%;
        margin-left: auto;
        left: auto;
        right: auto;
        margin: 5%;
    }
}

.shop {
    margin:30px 0;
}

.meenemen .selector > div {
    height:40px; width:120px;
    display:inline-block;
    margin:0 10px;
    padding-top:5px;

    background-color:#ccc;
    border:1px solid rgba(230, 230, 230 ,1);

    text-transform:uppercase;
}

.meenemen .selector > div.selected{
    background-color:#8ce196;
    border:1px solid rgba(190, 255, 200 ,1);
}

.selector > div:hover {
    cursor:pointer;
    border:1px solid rgba(120, 150, 100 ,0.2);
}

.collection-item.discount {
    background-color:#8ce196;
}

.switch label input[type=checkbox]+.lever{
    background-color: #84c7c1;
}

.switch label .lever {
    vertical-align: top;
    margin-top: 15px;
}

.datums, .gegevens {
    margin-bottom:50px;
}

.datums button, .gegevens button {
    margin-top:20px;
    z-index:0;
}

.yes {
    cursor:pointer;
}

.yes i{
    font-size:24px;
    -webkit-transition: font-size 0.3s; /* Safari */
    transition: font-size 0.3s;
}

.no {
    cursor:pointer;
}
.yes:hover i {
    cursor:pointer;
    font-size:32px;
    -webkit-transition: font-size 0.3s; /* Safari */
    transition: font-size 0.3s;
}