<header>
    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
    <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo no-bg">
            <a id="logo-container" href="http://sneeuwsafety.nl" class="brand-logo">
                <img src="img/mountain.png" alt="mountain" />
            </a>
            <a id="logo-name" href="http://sneeuwsafety.nl" class="brand-logo">
                <p class="logo-text">SNEEUWSAFETY</p>
            </a>
        </li>

        <li class="bold"><a href="#waarom" class="waves-effect waves-teal">Welkom</a></li>
        <li class="bold"><a href="#huren" class="waves-effect waves-teal">Info & Bestellen</a></li>
        <li class="bold"><a href="#contact" class="waves-effect waves-teal">Meer informatie?</a></li>

        <div class="contact_sidebar">
            <p><b>Contact adres<br></b></p>
            <p><b>Sneeuwsafety</b><br>
            Luttik Cie 42a<br>
            1969MV Heemskerk<br>
            Nederland</p>
        </div>
    </ul>
</header>